template(name='slide7')
    +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
        +Surface target='header'
            h2 Famo.us
        +Surface target='content'
            h1 Obrigado pelo seu tempo.
                br
            p Alguma pergunta?
              | Eu não sei a resposta? Pergunte diretamente aos engenheiros da plataforma:
              | @stevenewcomb steve@famo.us CEO
            p Slide-Deck disponível aqui:
                br
                a(href='https://github.com/PEM--/MeetupFamousSlides') github.com/PEM--/MeetupFamousSlides
            p Curadoria sobre Famo.us disponível aqui:
                br
                a(href='https://famous.zeef.com/filipe.russo') famous.zeef.com/filipe.russo
        +Surface target='footer'
            p Slide-deck de Pierre-Eric Marchandet & Apresentação de Filipe Russo