template(name='slide1')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Famo.us Meetup
    +Surface target='content'
      h1 Layouts, Views & Fviews
      img.gravatar(src='/gravatar.png')
      img.gravatar(src='/pixel.jpg')
    +Surface target='footer'
      p Slide-deck de Pierre-Eric Marchandet & Apresentação de Filipe Russo
