template(name='slide2')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Famo.us Meetup - O que é Famo.us?
    +Surface align='[.5, .5]' origin='[.5, .5]' target='content'
      img(src='/famous_logo.png')
      p.left Famo.us é uma plataforma JavaScript open source e livre para a construção de aplicativos mobile e experiências em desktop. O que torna Famo.us único é seu sistema de renderização JavaScript e seu sistema de física 3D que dá aos desenvolvedores o poder e as ferramentas para se construir aplicativos com qualidade nativa e animações em puro JavaScript.
    +Surface target='footer'
      p Slide-deck de Pierre-Eric Marchandet & Apresentação de Filipe Russo
